// Core files
@import "core/normalize";
@import "core/reset";
// Your code here
//Global
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Sen:wght@400;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/neo-sans-pro");
$jost: "Jost";
$neo-sans-pro: "Neo Sans Pro", sans-serif;
$white: #fff;
$primary-white: #f3f3f3;
$primary50: #0860c4;
$primary60: #074d9d;
$primary50hover: #003877;
$neutral90: #232629;
$neutral40: #717a84;
$neutral70: #3b3f45;

@mixin headings {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@content;
	}
}

.auto-layout {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.blue-button {
	border-radius: 20px;
	background: $primary50;
	padding: 8px 20px;
	gap: 6px;
	color: $white;
	font-family: $jost;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	&:hover {
		background: $primary50hover;
	}
}

.secondary-button {
	border: 1px solid $white;
	border-radius: 20px;
	padding: 8px 24px;
	gap: 10px;
	color: $white;
	font-family: $jost;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	&:hover {
		background: $white;
		color: $primary60;
	}
}

.primary-button {
	background: $white;
	border-radius: 20px;
	padding: 8px 24px;
	gap: 10px;
	color: $primary60;
	font-family: $jost;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid $white;

	&:hover {
		background: $primary50;
		border: 1px solid $white;
		color: $white;
	}
}

.header-content__wrapper2--search-container input {
	background: $white;
	border: 1px solid $primary-white;
	border-radius: 20px;
	padding: 10px 0px 10px 24px;
	gap: 8px;
	font-family: $jost;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $neutral40;
	margin-left: 24px;
	margin-right: -20px;
}

.button-submit {
	background: $primary50;
	width: 52px;
	height: 44px;
	border-radius: 0px 20px 20px 0px;
	padding: 10px 16px 10px 12px;
	gap: 8px;
	position: relative;
	cursor: pointer;

	&:hover {
		background: $primary50hover;
	}
}

.button-submit::before {
	content: url("/zadanie-rekrutacyjne/wp-content/themes/zadanie-rekrutacyjne/src/img/lupa.svg");
	position: absolute;
	left: 12.5%;
	right: 12.5%;
	top: 30%;
}

//End global
//Menu mobile
.header-content {
	min-height: 92px;
	border-bottom: 1px solid $primary-white;
}

.menu {

	gap: 36px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	width: 70%;
	flex-direction: column;
	margin-top: 0;
	z-index: 2;
	background: $primary50;
	visibility: hidden;
	display: none;
	transform: translateY(-1em);
	transition: transform ease 0.2s;

	li {
		font-family: $jost;
		font-weight: 400;
		font-size: 36px;
		line-height: 48px;
		list-style-type: none;
		color: $white;
	}
}

.logo {
	text-decoration: none;
	margin-right: 20px;
}

label {
	padding: 23px 20px;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	z-index: 3;

	span {
		width: 20px;
		height: 3px;
		display: block;
		background: #4f3e3e;
		position: relative;
		-webkit-transition: -webkit-transform .3s ease-in-out;
		-ms-transition: -ms-transform .3s ease-in-out;
		transition: transform .3s ease-in-out;
	}

	span::after,
	span::before {
		content: "";
		position: absolute;
		display: block;
		background: inherit;
		width: inherit;
		height: inherit;
	}

	span::before {
		top: 8px;
	}

	span::after {
		bottom: 8px;
	}
}

input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	right: 0;
}

label::before {
	position: absolute;
	content: "";
	width: 58px;
	height: 49px;
	top: 0;
	right: 0;
}

ul li a {
	display: block;
	color: inherit;
	text-decoration: none;
}

input[type="checkbox"]:checked~.menu {
	visibility: visible;
	display: block;
	margin-top: 16px;
	padding-top: 20%;
}

input[type="checkbox"]:checked~label {

	span {
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}

	span::before {
		top: 0px;
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	}

	span::after {
		display: none;
	}
}

.sub-menu {
	display: none;
	transition: height ease 0.2s;

	li {
		padding: 10px;
	}
}

@media(max-width:1000px) {
	li:focus-within .sub-menu {
		display: flex;
		z-index: 99;
		padding-left: 0;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-items: flex-start;
		height: 100%;
	}

	.sub-menu li {
		font-size: 24px;
	}

	li>a:after {
		transform: scale(1.5);
		vertical-align: super;
	}

	li:focus-within>a:after {
		transform: rotate(180deg) scale(1.5);
		vertical-align: sub;
	}
}

.menu li.has-children>a:after {
	filter: invert(1);
	content: url("/zadanie-rekrutacyjne/wp-content/themes/zadanie-rekrutacyjne/src/img/arrow-down.svg");
	margin-left: 10px;
	display: inline-block;
	transition: transform 100ms ease-in-out;
}


//End mobile menu
//Media for desktop menu
@media (min-width: 1000px) {
	.header-content {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.menu {
		padding: 24px 108px;
		position: static;
		visibility: visible;
		background: #fff;
		display: flex;
		transform: initial;
		max-height: 92px;
		flex-direction: row;
		margin-bottom: 0;
		align-items: center;
		gap: 32px;
		width: 100%;

		li {
			font-size: 16px;
			color: $neutral90;

			&:hover {
				color: $primary50;
			}
		}
	}

	.menu li.has-children>a:after {
		filter: invert(0);
	}

	li:hover .sub-menu {
		display: block;
	}

	li:hover>a:after {
		transform: rotate(180deg);
	}

	label,
	input[type="checkbox"] {
		display: none;
	}

	ul li {
		position: relative;
		font-size: 14px;
	}

	.sub-menu {
		position: absolute;
		right: 0;
		left: auto;
		box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
			0 4px 6px -2px rgba(71, 63, 79, 0.16);
		z-index: 99;
		min-width: 10rem;
		padding-left: 0;
		background-color: #fff;

		li {
			padding: 15px;

			&:hover {
				background: $primary50;
				color: $white;
			}
		}
	}
}

//End of media menu desktop
//Search and menu button media mobile
@media (max-width: 500px) {
	.header-content__wrapper2 {
		flex-direction: column;
	}

	.header-content__wrapper2--menu-button-container {
		margin-bottom: 16px;
		margin-top: 16px;
	}

	.header-content__wrapper2--search-container {
		margin-bottom: 16px;
	}
}

//End search and menu mobile
//Footer desktop
.footer-container {
	align-items: flex-start;
	padding-top: 48px;
	border-top: 1px solid #F3F3F3;
}

.footer-container,
.copyright-container {
	font-family: $jost;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.footer-container__logo-section {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	width: 29%;
	color: $neutral70;
}

.footer-container__link-section {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	width: 29%;
	margin-left: 48px;
}

.footer-container__contact-section {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	width: 29%;
	color: $neutral70;
}

.footer-container__contact-section-buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	margin-top: 20px;
	flex-wrap: wrap;
	row-gap: 16px;

	.call-button {
		display: flex;
		align-items: center;
	}

	.mail-button {
		display: flex;
		align-items: center;
		margin-right: 8px;
	}
}

.footer-container__link-section-paragraph,
.footer-container__contact-section-paragraph {
	font-weight: 500;
	color: $neutral90;
	margin-bottom: 12px;
}

.footer__menu {
	list-style: none;
	color: $primary50;
	padding-left: 0;
	margin-block-start: 0;

	a:hover {
		color: $primary50hover;
	}

	li {
		margin-bottom: 12px;
	}
}

.footer-container__logo-section-paragraph {
	margin-top: 27px;
}

.icon-container {
	margin-top: 19px;
	margin-bottom: 19px;

	a {
		padding: 10px;
	}
}

.copyright-container {
	margin-bottom: 48px;
}

.mail-button::before {
	content: url("/zadanie-rekrutacyjne/wp-content/themes/zadanie-rekrutacyjne/src/img/mail-svg.svg");
	margin-right: 10px;
	height: 20px;
}

.call-button::before {
	content: url("/zadanie-rekrutacyjne/wp-content/themes/zadanie-rekrutacyjne/src/img/tel-svg.svg");
	margin-right: 10px;
	height: 20px;
}

//End footer desktop
//Media footer
@media (max-width: 550px) {
	.footer-container {
		flex-direction: column;
		align-items: center;
	}

	.footer-container__logo-section,
	.footer-container__link-section,
	.footer-container__contact-section {
		align-items: center;
	}

	.footer-container__link-section {
		margin-left: 0;
		margin-top: 16px;
	}

	.footer-container__contact-section-buttons,
	.footer-container__logo-section {
		text-align: center;
		justify-content: center;
	}

	.footer-container__logo-section,
	.footer-container__link-section,
	.footer-container__contact-section {
		width: 75%;
	}
}

//End media footer
//CTA
.cta {
	width: 100%;
	font-family: $jost;
	font-weight: 400;
	color: $white;
	line-height: 36px;
	font-size: 20px;
	flex-direction: column;
	min-height: 286px;
	padding: 20px;

	@include headings {
		font-family: $neo-sans-pro;
		font-weight: 500;
		font-size: 36px;
		margin: 0 0 6px 0;
	}
}

.cta__buttons {
	gap: 18px;
}

.cta__content {
	flex-direction: column;
	margin-bottom: 24px;
}

//End CTA
//CTA mobile
@media (max-width: 450px) {
	.cta__buttons {
		flex-direction: column;
	}

	.cta {
		font-size: 16px;

		@include headings {
			font-size: 24px;
		}
	}
}

//End CTA mobile
//Siatka link贸w
.siatka-linkow {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto;
}

.siatka-linkow__item-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		color: $white;
		font-family: $neo-sans-pro;
		font-weight: 500;
		font-size: 36px;
		line-height: 36px;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		position: absolute;
		overflow-wrap: anywhere;
		padding: 65px;
		text-align: center;
	}

	img {
		width: 100%;
	}
}

//End siatka link贸w
//Media Siatka link贸w
@media (max-width: 1440px) {
	.siatka-linkow__item-container {
		span {
			font-size: 24px;
			line-height: 24px;
		}
	}
}

@media (max-width: 600px) {
	.siatka-linkow__item-container {
		span {
			font-size: 16px;
		}
	}
}

@media (min-width: 500px) {
	.splide.is-initialized:not(.is-active) .splide__list {
		display: grid !important;
	}
}

//End media siatka link贸w
//Opinie
.opinie {
	padding: 64px 108px;
	background: #fcfcfc;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.opinie__naglowek {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		max-width: 1224px;
		margin-bottom: 24px;
		font-family: $neo-sans-pro;
		font-weight: 400;
		font-size: 32px;
		line-height: 38px;
		color: $neutral90;
	}

	.opinie__wrapper {
		font-family: $jost;
		max-width: 1224px;
		width: 100%;
		background: $white;

		.opinie__slider {
			width: 65%;
			padding: 64px;
			min-height: 420px;
			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			align-items: center;

			.splide__track {
				width: 100%;
			}

			.splide__pagination__page {
				border: 1px solid #BABFC4;
				background: $white;
				width: 10px;
				height: 10px;
			}

			.splide__pagination__page.is-active {
				background: $primary50;
				transform: none;
				width: 10px;
				height: 10px;
			}

			.opinie__container {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				font-size: 16px;
				line-height: 23px;
				width: 100%;

				:first-child {
					font-weight: 500;
					color: $neutral90;
				}

				:nth-child(2) {
					font-weight: 600;
					color: $primary50;
					margin-top: 24px;
				}

				:nth-child(3) {
					font-weight: 400;
					color: $neutral70
				}
			}
		}

		.opinie__staly-box {
			font-weight: 400;
			color: #fff;
			line-height: 36px;
			font-size: 20px;
			width: 35%;
			background: $primary50;
			padding: 36px;
			min-height: 420px;
			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			align-items: center;

			.opinie__content {
				flex-direction: column;
				margin-bottom: 24px;
			}

			@include headings {
				font-family: $neo-sans-pro;
				font-weight: 500;
				font-size: 36px;
				line-height: 43.2px;
				margin: 0 0 8px 0;
			}
		}
	}
}

//End opinie
//Opinie media
@media(max-width:1380px) {
	.opinie__wrapper {
		flex-direction: column-reverse;

		.opinie__staly-box {
			width: 100% !important;
		}

		.opinie__slider {
			width: 100% !important;
		}
	}
}

@media(max-width:700px) {
	.opinie {
		padding: 64px 20px;
	}
}

@media(max-width:450px) {
	.opinie {
		padding: 64px 0;

		.opinie__naglowek {
			justify-content: center;
			font-size: 24px;
		}

		.opinie__content {
			font-size: 16px;

			@include headings {
				font-size: 24px !important;
			}
		}
	}
}

//End opinie media